ion-col{
  text-align: center;
  justify-content: center;
  justify-items: center;
  height: 10rem;
  margin-bottom: 0.5rem;

}

ion-row{

  margin: 0.5rem;
  padding: 1rem;
  padding-top: 2rem !important;
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/70/57/sakura-flying-petals-eps-10-vector-8877057.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
ion-button{
  height: 2rem;
  margin-top: 1rem;
}
