// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #E4AEC5;
	--ion-color-primary-rgb: 228,174,197;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #c999ad;
	--ion-color-primary-tint: #e7b6cb;

	--ion-color-secondary: #82A284;
	--ion-color-secondary-rgb: 130,162,132;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #728f74;
	--ion-color-secondary-tint: #8fab90;

	--ion-color-tertiary: #FFC4DD;
	--ion-color-tertiary-rgb: 255,196,221;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0acc2;
	--ion-color-tertiary-tint: #ffcae0;

	--ion-color-success: #446A46;
	--ion-color-success-rgb: 68,106,70;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #3c5d3e;
	--ion-color-success-tint: #577959;

	--ion-color-warning: #E4AEC5;
	--ion-color-warning-rgb: 228,174,197;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #c999ad;
	--ion-color-warning-tint: #e7b6cb;

	--ion-color-danger: #446A46;
	--ion-color-danger-rgb: 68,106,70;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #3c5d3e;
	--ion-color-danger-tint: #577959;

	--ion-color-medium: #e6c7d4;
	--ion-color-medium-rgb: 230,199,212;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #caafbb;
	--ion-color-medium-tint: #e9cdd8;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}

//@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body[color-theme="dark"] {
    --ion-color-primary: #8D6262;
	--ion-color-primary-rgb: 141,98,98;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #7c5656;
	--ion-color-primary-tint: #987272;

	--ion-color-secondary: #393232;
	--ion-color-secondary-rgb: 57,50,50;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #322c2c;
	--ion-color-secondary-tint: #4d4747;

	--ion-color-tertiary: #ED8D8D;
	--ion-color-tertiary-rgb: 237,141,141;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d17c7c;
	--ion-color-tertiary-tint: #ef9898;

	--ion-color-success: #4D4545;
	--ion-color-success-rgb: 77,69,69;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #443d3d;
	--ion-color-success-tint: #5f5858;

	--ion-color-warning: #ED8D8D;
	--ion-color-warning-rgb: 237,141,141;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d17c7c;
	--ion-color-warning-tint: #8c3d3d;

	--ion-color-danger: #393232;
	--ion-color-danger-rgb: 57,50,50;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #322c2c;
	--ion-color-danger-tint: #4d4747;

	--ion-color-medium: #4D4545;
	--ion-color-medium-rgb: 77,69,69;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #443d3d;
	--ion-color-medium-tint: #5f5858;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body[color-theme="dark"] {
    --ion-background-color:#393232;


    --ion-text-color:#5f5858;


    --ion-color-step-50: #393232;
    --ion-color-step-100: #473f3f;
    --ion-color-step-150: #5d5252;
    --ion-color-step-200: #5d5252;
    --ion-color-step-250: #7d6e6e;



    --ion-color-step-50: #393232;

    --ion-color-step-50: #393232;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */


  .md body[color-theme="dark"] {
    --ion-background-color:#393232;


    --ion-text-color:#987272;


    --ion-color-step-50: #393232;
    --ion-color-step-100: #473f3f;
    --ion-color-step-150: #5d5252;
    --ion-color-step-200: #5d5252;
    --ion-color-step-250: #7d6e6e;



    --ion-color-step-50: #393232;

    --ion-color-step-50: #393232;
  }

//}
