
a{
  text-decoration: none;
  color: black;

}
ion-card{
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/70/57/sakura-flying-petals-eps-10-vector-8877057.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ion-toolbar{
  --background: #ff9999;
  --color: black;
}
ion-footer ion-toolbar{
  --background: #ff9999;
  --color: black;
  font: italic 0.6em "Fira Sans", serif;
  padding: 0;
  display: block;

}
