ion-card{
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/70/57/sakura-flying-petals-eps-10-vector-8877057.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ion-toolbar{
  --background: #ff9999;
  --color: black;
}
ion-back-button{
  color: black;
}
