<ion-header>
  <ion-toolbar>
    <ion-title>treatments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-button color="tertiary"(click)="showModal()">Dodaj uslugu</ion-button>
<ion-grid  (onInit)="getTreatments()">
  <ion-row *ngFor="let t of treatments; index as i" >
    <ion-col size="12">
      <b>{{t.name}}</b><br>{{t.description}}<br>Cena usluge je <b>{{t.price}}</b> dinara.<br>
      <ion-button color="secondary" (click)="deleteTreatment(t)">Obriši</ion-button>
      <ion-button color="warning" (click)="openInfoModal(t)">Izmeni</ion-button>
    </ion-col>

  </ion-row>
</ion-grid>

</ion-content>
<ion-footer></ion-footer>
