ion-button {
  height: 2.2rem;
  margin-left: 1rem;
  margin-top: 2rem;

}
ion-card{
  background-image: url("https://img.freepik.com/free-vector/sakura-flying-downwind-petals-wind-also-includes_270215-18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ion-col{
  text-align: center;
  justify-content: center;
  justify-items: center;
  height: 10rem;

}

ion-row{

  margin: 0.5rem;
  padding: 1rem;
  padding-top: 2rem !important;
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/70/57/sakura-flying-petals-eps-10-vector-8877057.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
ion-grid{
  margin-bottom: 7rem;
}
ion-col:hover{
  opacity: 0.8;
}
