ion-col{
  text-align: center;
  padding-top: 0.7rem;
  margin: 0;

  font-size: 15px;
  height: 3rem;
  color: grey;
}
ion-col:hover{
  background-color: rgb(241, 240, 240);

}
ion-row{
  margin: 0;
}
ion-header{
  margin: 0;
}
ion-grid{
  width: 100%;
}


