<!--<ion-header>
  <ion-toolbar>
    <ion-title>treatments</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col size="6"
      ><ion-icon name="color-wand-outline"></ion-icon><br />Sve
      usluge</ion-col
    >

    <ion-col routerLink="new" size="6"
      ><ion-icon name="add-outline"></ion-icon><br />
      Nova usluga
    </ion-col
    >
  </ion-row>



</ion-grid>



<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6"
        ><ion-icon name="color-wand-outline"></ion-icon><br />Sve
        usluge</ion-col
      >

      <ion-col routerLink="new" size="6"
        ><ion-icon name="add-outline"></ion-icon><br />
        Nova usluga
      </ion-col
      >
    </ion-row>



  </ion-grid>




</ion-content>





-->
<ion-header>
  <ion-toolbar>
    <ion-title>Beauty studio</ion-title>
    <ion-menu-toggle>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" contentId="main">
