<ion-header>
  <ion-toolbar color="primary">
    <button ion-button icon-only class="closeModalBtn" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-grid>
        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-xl="3">
          <ion-card>
            <ion-card-header >
              <ion-card-title>
                <p [textContent]="title"></p>
              </ion-card-title>

            </ion-card-header>
            <ion-card-content lines="none">
              <ion-item>
                <ion-label position="fixed" >
                  Naziv usluge
                </ion-label>
                <br />
                <ion-input placeholder="Unesite naziv usluge"></ion-input>

              </ion-item>
              <ion-item>
                <ion-label position="fixed" >
                  Opis usluge
                </ion-label>
                <br />
                <ion-input placeholder="Unesite opis usluge"  ></ion-input>

              </ion-item>
              <ion-item style="margin-bottom: 15px;">
                <ion-label position="fixed" >
                  Cena usluge
                </ion-label>
                <ion-input type="text" placeholder="Unesite cenu usluge."  ></ion-input>

              </ion-item>

              <ion-button color="success" expand="block">Dodaj uslugu</ion-button>




            </ion-card-content>

          </ion-card>
        </ion-col>

    </ion-grid>
  </div>

</ion-content>
