<ion-header>
  <ion-toolbar>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <b>Manikir</b><br>Obaveštavamo vas da je vaš termin 12.3.2020. otkazan.<br>
        <ion-button color="light">Ok</ion-button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12">
        <b>Manikir</b><br>Obaveštavamo vas da je vaš termin 12.3.2020. otkazan.<br>
        <ion-button color="light">Ok</ion-button>
      </ion-col>


    </ion-row>
    <ion-row>
      <ion-col size="12">
        <b>Manikir</b><br>Obaveštavamo vas da je vaš termin 12.3.2020. otkazan.<br>
        <ion-button color="light">Ok</ion-button>
      </ion-col>


    </ion-row>
    <ion-row>
      <ion-col size="12">
        <b>Manikir</b><br>Obaveštavamo vas da je vaš termin 12.3.2020. otkazan.<br>
        <ion-button color="light">Ok</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer></ion-footer>
