<ion-header>
  <ion-toolbar>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item color="secondary"><b>Nova obaveštenja</b></ion-item>

    <ion-row style=" justify-content: center; align-items: center; background-color: var(--ion-color-medium);" *ngFor="let n of unreadNotifications">
      <ion-col style="margin-left: 0.5rem; margin-right: 0.5rem;">
        {{n.message}}
      <br>
      <ion-button color="light" (click)="deleteNotification(n)">Ok</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid class="secondItem">
    <ion-item color="secondary"><b>Stara obaveštenja</b></ion-item>
    <ion-row style=" justify-content: center; align-items: center; background-color: var(--ion-color-medium);" *ngFor="let n of readNotifications">
      <ion-col style="margin-left: 0.5rem; margin-right: 0.5rem;">
        {{n.message}}
      <br>
      <ion-button color="light" (click)="deleteNotification(n)">Ok</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

