<ion-header>
  <ion-toolbar>
    <ion-title>MyAppointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-button (click)="getAppointments()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
    <ion-row style="height: 3rem; margin-top: 0.1rem;  color: #f7e5e5; font-size: 1rem; text-align: center; justify-content: center; align-items: center;">
      <ion-col><b>Rb.</b></ion-col>
      <ion-col><b>Usluga</b></ion-col>
      <ion-col><b>Datum</b></ion-col>
      <ion-col><b>Vreme</b></ion-col>
      <ion-col><b>Status</b></ion-col>
      <ion-col><b>Otkazivanje</b></ion-col>
    </ion-row>
    <ion-row style="text-align: center; justify-content: center; align-items: center; background-color:var(--ion-color-warning)" *ngFor="let e of appointments; index as i">
      <ion-col>{{i+1}}</ion-col>
      <ion-col>{{e.treatment.name}}</ion-col>
      <ion-col>{{e.date}}</ion-col>
      <ion-col>{{e.time}}</ion-col>
      <ion-col>{{e.status==="REQUIRED" ? "U obradi" : "Zakazan"}}</ion-col>
      <ion-col><ion-button style="height: 1.5rem;" color="secondary" (click)="deleteAppointment(e)">Otkazi</ion-button></ion-col>
    </ion-row>


  </ion-grid>

  <ion-item lines="none">

  </ion-item>
</ion-content>
