<ion-header>
  <ion-toolbar>
    <ion-title>MyAppointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="height: 3rem; margin-top: 1rem; background-color: #ff4d4d; text-align: center; justify-content: center; align-items: center;">
      <ion-col><b>Rb.</b></ion-col>
      <ion-col><b>Usluga</b></ion-col>
      <ion-col><b>Datum</b></ion-col>
      <ion-col><b>Vreme</b></ion-col>
      <ion-col><b>Otkazivanje</b></ion-col>
    </ion-row>
   <!-- <ion-row >*ngFor="let student of null; index as i">
      <ion-col>{{ i + 1 }}</ion-col>
      <ion-col>{{ student.name }}</ion-col>
      <ion-col>{{ student.gender }}</ion-col>
      <ion-col>{{ student.country }}</ion-col>
    </ion-row>-->
    <ion-row style="text-align: center; justify-content: center; align-items: center;">
      <ion-col>1</ion-col>
      <ion-col>Manikir</ion-col>
      <ion-col>22.03.2022</ion-col>
      <ion-col>15:00</ion-col>
      <ion-col><ion-button style="height: 1.5rem;" color="secondary">Otkazi</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none">

  </ion-item>
</ion-content>
