<ion-header>
  <ion-toolbar color="primary">
    <button ion-button icon-only class="closeModalBtn" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>


    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-xl="3">
      <ion-card>
        <ion-card-header >
          <ion-card-title >
            Detalji
          </ion-card-title>
        </ion-card-header>
        <ion-card-content lines="none">
          <ion-item>
            <ion-label position="fixed" >
              Ime i prezime
            </ion-label>
            <br />
            <ion-input readonly="true">{{appointment.user.name}} {{appointment.user.lastName}}</ion-input>

          </ion-item>
          <ion-item>
            <ion-label position="fixed" >
              Datum
            </ion-label>
            <br />
            <ion-input readonly="true">{{appointment.date}}</ion-input>

          </ion-item>
          <ion-item>
            <ion-label position="fixed" >
              Vreme
            </ion-label>
            <br />
            <ion-input readonly="true" >{{appointment.time}}</ion-input>

          </ion-item>
          <ion-item style="margin-bottom: 15px;">
            <ion-label position="fixed" >
              Tretman
            </ion-label>
            <ion-input readonly="true" type="text" >{{appointment.treatment.name}}</ion-input>

          </ion-item>

          <ion-button color="success" expand="block" (click)="scheduleAppointment()">Potvrdi</ion-button>
          <ion-button color="light" expand="block" (click)="deleteAppointment()">Odbaci</ion-button>




        </ion-card-content>

      </ion-card>
    </ion-col>

</ion-grid>

</ion-content>
