ion-button {
  height: 2.3rem;
  margin-left: 0.5rem;
  margin-top: 2rem;

}
ion-card{
  background-image: url("https://img.freepik.com/free-vector/sakura-flying-downwind-petals-wind-also-includes_270215-18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ion-col{
  text-align: center;
  justify-content: center;
  justify-items: center;
  height: 10rem;

}
.closeModalBtn{
  float: right;
  height: 2rem;
  width: 3rem;
  border-radius: 3px;
  background-color: var(--ion-color-secondary);
  display: inline;
  position: absolute;
  top:0.4rem;
right:1rem;

}
ion-input{
  padding-left: 1rem !important;
}
