
  <ion-content>
    <ion-header justify-content-center align-items-center>
        <ion-toolbar >
          <ion-title slot="start">Beauty studio</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-grid style="height: 100%;">
        <ion-row justify-content-center align-items-center style="height: 100%; ">
          <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-xl="3">
            <ion-card>
              <ion-card-header >
                <ion-card-title style="font-size: 20px; padding-left: 4%;" >
                  Evidentiranje neradnog dana
                </ion-card-title>
              </ion-card-header>
              <ion-card-content lines="none">
                <ion-item>
                  <ion-label >
                    Izaberite dan
                  </ion-label>
                  <br />
                  <ion-input type="date"></ion-input>

                </ion-item>
                <ion-item style="margin-bottom: 15px;">
                  <ion-label >
                    Izaverite termin
                  </ion-label>
                  <ion-select>
                    <ion-select-option value="f">Ceo dan</ion-select-option>
                    <ion-select-option value="f">08:30</ion-select-option>
                    <ion-select-option value="f">09:30</ion-select-option>
                    <ion-select-option value="f">11:00</ion-select-option>
                    <ion-select-option value="f">12:30</ion-select-option>
                  </ion-select>

                </ion-item>

                <ion-button color="success" expand="block" >Označi kao neradno</ion-button>




              </ion-card-content>

            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-footer>
        <ion-toolbar>
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-footer>

    </ion-content>


