
  <ion-content>
    <ion-header justify-content-center align-items-center>
        <ion-toolbar >
          <ion-title slot="start">Beauty studio</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-grid style="height: 100%;">
        <ion-row justify-content-center align-items-center style="height: 100%; ">
          <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-xl="3">
            <ion-card>
              <ion-card-header >
                <ion-card-title style="font-size: 20px; padding-left: 4%;" >
                  Evidentiranje neradnog dana
                </ion-card-title>
              </ion-card-header>
              <ion-card-content lines="none">
                <ion-item>
                  <ion-label >
                    Izaberite dan
                  </ion-label>
                  <br />

                    <ion-datetime  id="ion-datetime" presentation="date"  first-day-of-week="1" [isDateEnabled]="isDateEnabled" ></ion-datetime>






                </ion-item>
                <ion-button color="success" expand="block" >Označi kao neradno</ion-button>




              </ion-card-content>

            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-footer>
        <ion-toolbar>
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-footer>

    </ion-content>


